In [6]:
import pandas as pan

In [38]:
casos_dengue = pan.read_csv("casos_dengue_1990-2014.csv", header=None)

In [41]:
casos_dengue.head()

       0
0  3.343
1  8.191
2  6.316
3  3.709
4  6.412

In [53]:
casos_dengue.sample(n=3)

         0
18  24.517
7   10.530
17  33.960